body{
    background-color: rgb(131, 131, 131);
    color: black;
    font-family: sans-serif;
}
div{
    background-color: rgb(112, 112, 112);
    font-size: 20px;
    padding: 13px;
    margin-top: 13px;
    text-align: center;
}
input{
    font-size: 30px;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: rgba(128, 128, 128, 0);
    border: none;
}
img{
    width: 400px;
}